* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
background-color: #FF9A4B;
}

main {
  width: 960px; /* 横幅960 */
  margin: 50px auto;
  display: flex; /* Flexboxの利用 */
}

.box {
  width: 300px;
  padding: 10px;
  margin-right: 30px;
  position: relative;
  background-color: #EEEEEE;
}

.box:last-child {
  margin-right: 0;
}

.blog-img1 {
   height: 150px;
   background-image: url(img/flow01.png);
   background-position: bottom;
   background-size: cover;
}

.blog-img2 {
   height: 150px;
   background-image: url(img/flow02.png);
   background-position: bottom;
   background-size: cover;
}

.blog-img3 {
   height: 150px;
   background-image: url(img/flow03.png);
   background-position: bottom;
   background-size: cover;
}

.step1{
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  background-color: #ff9a4b;
}

.title {
  margin: 15px 0 5px;
}

footer{
  height: 50px;
  background-color: #AAAAAA;
}


@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
  }

  .box {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

.box:last-child {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

.blog-img1 {
  background-position: center;
}

.blog-img2 {
  background-position: center;
}

.blog-img3 {
  background-position: center;
}

}